<html>
  <head>
    <title>Browser Challenge 6</title>
  </head>
  <body onload="initalize()">
    <script>
        constants = {
            numButtons: 1000,
        }
        state = {
            timerStarted: false,
            challengeStatus: false,
            numButtonsClicked: 0,
            buttonIdsClicked: [],   // TODO: Eventually add ids to buttons and check for a button being clicked twice.
        }

        function initalize() {
            for (i=0;i<constants.numButtons;i=i+1){
                var button = document.createElement("Button");
                button.onclick = buttonClicked
                button.style.height = '15px'
                document.getElementById("buttons").appendChild(button);
            }
        }

        function stopTimer() {
            state.timerStarted = false;
            document.getElementById("timerStatus").innerHTML = "Timer Status: Off"
        }

        function buttonClicked() {
            if (state.timerStarted === false) {
                state.timerStarted = true;
                setTimeout(stopTimer, 1000)
                document.getElementById("timerStatus").innerHTML = "Timer Status: On";
                document.getElementById("challengeStatus").innerHTML = "Challenge Status: Not Complete";
                state.numButtonsClicked = 1;
            } else {
                state.numButtonsClicked += 1;
                if (state.numButtonsClicked === constants.numButtons) {
                    state.challengeStatus = true;
                    document.getElementById("challengeStatus").innerHTML = "Challenge Status: Complete!"
                }
            }
        }
    </script>
    <div id="body">
        <a href="/" style="position: absolute;">
          <button>Home</button>
        </a>
        <h3 style="margin-left: 70px;">Browser Challenge 6</h3>
      <hr>
      <p>Your challenge is to click every button on the page within 1 second. Timer starts when you click the first button.</p>
      <p id="timerStatus">Timer Status: Off</p>
      <p id="challengeStatus">Challenge Status: Not Complete</p>
      <div id="buttons"></div>
    </div>
  </body>
</html>