<html>
  <head>
    <title>Browser Challenge 1</title>
  </head>
  <body>
    <script>
    localStorage.setItem('isLoggedIn', false);
    
    function checkLoggedIn() {
      var loginStatus = localStorage.getItem('isLoggedIn');
      if(loginStatus === "true" || loginStatus === true) {
        document.getElementById('loginStatus').innerHTML = 'logged in: true'
      }else{
        document.getElementById('loginStatus').innerHTML = 'logged in: false'
      }
    }
    </script>
    <div id="body">
        <a href="/" style="position: absolute;">
          <button>Home</button>
        </a>
        <h3 style="margin-left: 70px;">Browser Challenge 1</h3>
      <hr>
      <p>Storage in the local should be your focal.</p>
      <p id="loginStatus">logged in: false</p>
      <input onClick="checkLoggedIn()" type="button" value="Check if logged in">
    </div>
  </body>
</html>