<html>
  <head>
    <title>Browser Challenge 2</title>
  </head>
  <body>
    <script>
    document.cookie = "loggedIn=false";
    
    function checkLoggedIn() {
      var cookie = document.cookie;

      if (cookie) {
        var loginStatus = cookie.split('=')[1];
        if (loginStatus === 'true' || loginStatus === true) {
          document.getElementById("loginStatus").innerHTML = "logged in: true";
        } else {
          document.getElementById("loginStatus").innerHTML = "logged in: false";
        }
      } else {
        document.getElementById("loginStatus").innerHTML = "logged in: false";
      }
    }
    </script>
    <div id="body">
      <span>
        <a href="/" style="position: absolute;">
          <button>Home</button>
        </a>
        <h3 style="margin-left: 75px;">Browser Challenge 2</h3>
      </span>
      <hr>
      <p>C is for cookie, and that's good enough for me. Is it good enough for you?</p>
      <p id="loginStatus">logged in: false</p>
      <input onClick="checkLoggedIn()" type="button" value="Check if logged in">
    </div>
  </body>
</html>