<html>
  <head>
    <title>Web Challenges</title>
    <style>
      h2,a,h4 {
        font-family: "Helvetica Neue"
      }
    </style>
  </head>
  <body>
    <h2>Web Challenges</h2>
    <hr>
    <h4>Bruteforce Challenges</h4>
    <ul>
      <li><a href="/wordlist">Wordlist</a></li>
      <li><a href="/level1">Level 1</a></li>
      <li><a href="/level2">Level 2</a></li>
      <li><a href="/level3">Level 3</a></li>
      <li><a href="/level4">Level 4</a></li>
    </ul>
    <h4>Browser Challenges</h4>
    <ul>
      <li><a href="/level5">Level 5</a></li>
      <li><a href="/level6">Level 6</a></li>
      <li><a href="/level7">Level 7</a></li>
      <li><a href="/level8">Level 8</a></li>
      <li><a href="/level9">Level 9</a></li>
    </ul>
    <h4>SQL Injection Challenges</h4>
    <ul>
      <li><a href="/level10">Level 10</a></li>
      <li><a href="/level11">Level 11</a></li>
    </ul>
    <h4>Binary Analysis Challenges</h4>
    <ul>
      <li><a href="/level12">Level 12</a></li>
    </ul>
  </body>
</html>