<html>
  <head>
    <title>Bruteforce Challenge 1</title>
  </head>
  <body>
      <a href="/" style="position: absolute;">
        <button>Home</button>
      </a>
      <h3 style="margin-left: 70px;">Bruteforce Challenge 1</h3>
    <hr>
    <p>i see it, i like it, i want it, i Got it. </p>
    <form action="/login1" method="get">
      Username<br>
      <input type="text" name="username" value="Username">
      <br>
      Password<br>
      <input type="password" name="password" value="Password">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>