<html>
  <head>
    <title>Bruteforce Challenge 2</title>
  </head>
  <body>
      <a href="/" style="position: absolute;">
        <button>Home</button>
      </a>
      <h3 style="margin-left: 70px;">Bruteforce Challenge 2</h3>
    <hr>
    <p>yesterday you got, here's another shot, follow the sign on the post.</p>
    <form action="/login2" method="post">
      Username<br>
      <input type="text" name="username" value="Username">
      <br>
      Password<br>
      <input type="password" name="password" value="Password">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>